*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

#showcase-img{
    width: 100%;
    height: 250px;
<<<<<<< HEAD
=======
}

#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
>>>>>>> 892fa9f (Finished)
}